.Header {
  background-color: #F5F5F5;
  width: 100%;
  padding: 2rem;
  display: flex;
  gap: 12%;
  top: 0rem;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 800px) {
  .Header {
    background-color: #F5F5F5;
    width: 110%;
    height: 5%;
    gap: 5%;
  }

  .Img-Logo {
    width: 15%;
  }

}