* {
  font-family: "Inter", sans-serif;
  list-style: none;
}

@media (min-width: 375px) {
  .SpanSearch {
    margin-left: 1rem;
    position: fixed;
    margin-top: 0.9rem;
    font-weight: 700;
    color: #333333;
    font-size: 26px;
  }
  .ItemSearch {
    margin-left: 14rem;
    font-size: 26px;
    font-weight: 700;
    margin-top: 0.9rem;
    color: #828282;
    position: fixed;
  }
}
@media (min-width: 768px) {
  .SpanSearch {
    font-weight: 700;
    color: #333333;
  }
  .ItemSearch {
    margin-left: 14rem;
  }
}
@media(min-width: 1024px) {
  .SpanSearch{
    position: relative;
  }
  .ItemSearch{
    position: relative;
    margin-left: 0.3rem;
  }
    
}

button {
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
