* {
  font-family: "Inter", sans-serif;
  list-style: none;
}

button{
  cursor: pointer;
}

@media (max-width: 800px) {
  .SpanSearch {
    font-weight: 700;
    color: #333333;
  }
  .ItemSearch {
    margin-left: 14rem;
  }
}
